<!-- <h1 id="tableLabel">Customers</h1>

<p *ngIf="!customers"><em>Loading...</em></p>

<table
  class="table table-striped"
  aria-labelledby="tableLabel"
  *ngIf="customers"
>
  <thead>
    <tr>
      <th>First Name</th>
      <th>Last Name</th>
      <th>Gender</th>
      <th>Phone</th>
      <th>Email</th>
      <th>Address</th>
      <th>City</th>
      <th>State</th>
      <th>Zip</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let s of customers">
      <td>{{ s.firstName }}</td>
      <td>{{ s.lastName }}</td>
      <td>{{ s.gender }}</td>
      <td>{{ s.phone }}</td>
      <td>{{ s.email }}</td>
      <td>{{ s.stAddress }}</td>
      <td>{{ s.city }}</td>
      <td>{{ s.state }}</td>
      <td>{{ s.zip }}</td>
    </tr>
  </tbody>
</table>
First Name
<input [(ngModel)]="customer.firstName" type="text" name="firstName" />
Last Name
<input [(ngModel)]="customer.lastName" type="text" name="lastName" />
Gender
<input [(ngModel)]="customer.gender" type="text" name="gender" />
Phone
<input [(ngModel)]="customer.phone" type="text" name="phone" />
Email
<input [(ngModel)]="customer.email" type="text" name="email" />
Address
<input [(ngModel)]="customer.stAddress" type="text" name="stAddress" />
City
<input [(ngModel)]="customer.city" type="text" name="city" />
State
<input [(ngModel)]="customer.state" type="text" name="state" />
Zip
<input [(ngModel)]="customer.zip" type="text" name="zip" />
<button (click)="save()">Save</button> -->

<!-- ******************************************************************* -->

<div class="container">
  <div [hidden]="submitted">
    <h1>Customer Form</h1>
    <form (ngSubmit)="onSubmit()" #customerForm="ngForm">
      <div class="form-group">
        <label for="firstName">First Name</label>
        <input
          type="text"
          class="form-control"
          id="firstName"
          required
          [(ngModel)]="customer.firstName"
          name="firstName"
          #name="ngModel"
        />
        <div [hidden]="name.valid || name.pristine" class="alert alert-danger">
          First Name is required
        </div>
      </div>

      <div class="form-group">
        <label for="lastName">Last Name</label>
        <input
          type="text"
          class="form-control"
          id="lastName"
          required
          [(ngModel)]="customer.lastName"
          name="lastName"
          #name="ngModel"
        />
        <div [hidden]="name.valid || name.pristine" class="alert alert-danger">
          Last Name is required
        </div>
      </div>

      <div class="form-group">
        <label for="phone">Phone</label>
        <input
          type="text"
          class="form-control"
          id="phone"
          [(ngModel)]="customer.phone"
          name="phone"
        />
      </div>

      <div class="form-group">
        <label for="email">Email</label>
        <input
          type="text"
          class="form-control"
          id="email"
          [(ngModel)]="customer.email"
          name="email"
        />
      </div>

      <div class="form-group">
        <label for="gender">Gender</label>
        <select
          class="form-control"
          id="gender"
          required
          [(ngModel)]="customer.gender"
          name="gender"
          #gender="ngModel"
        >
          <option *ngFor="let gen of genders" [value]="gen">{{ gen }}</option>
        </select>
        <div
          [hidden]="gender.valid || gender.pristine"
          class="alert alert-danger"
        >
          Gender is required
        </div>
      </div>

      <button
        type="submit"
        class="btn btn-success"
        [disabled]="!customerForm.form.valid"
      >
        Submit
      </button>
      <button
        type="button"
        class="btn btn-default"
        (click)="save(); customerForm.reset()"
      >
        New Customer
      </button>
      <i>with</i> reset &nbsp;&nbsp;
      <button type="button" class="btn btn-default" (click)="save()">
        New Customer
      </button>
      <i>without</i> reset
    </form>
  </div>

  <p *ngIf="!customers"><em>Loading...</em></p>

  <table
    class="table table-striped"
    aria-labelledby="tableLabel"
    *ngIf="customers"
  >
    <thead>
      <tr>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Gender</th>
        <th>Phone</th>
        <th>Email</th>
        <th>Address</th>
        <th>City</th>
        <th>State</th>
        <th>Zip</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let s of customers">
        <td>{{ s.firstName }}</td>
        <td>{{ s.lastName }}</td>
        <td>{{ s.gender }}</td>
        <td>{{ s.phone }}</td>
        <td>{{ s.email }}</td>
        <td>{{ s.stAddress }}</td>
        <td>{{ s.city }}</td>
        <td>{{ s.state }}</td>
        <td>{{ s.zip }}</td>
        <button type="button" class="btn btn-danger" (click)="delete()">
          Delete
        </button>
      </tr>
    </tbody>
  </table>
</div>
