<h1 id="tableLabel">Appointments</h1>

<p *ngIf="!appointments"><em>Loading...</em></p>

<table
  class="table table-striped"
  aria-labelledby="tableLabel"
  *ngIf="appointments"
>
  <thead>
    <tr>
      <th>First Name</th>
      <th>Last Name</th>
      <th>Phone</th>
      <th>Date</th>
      <th>Service Type</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let s of appointments">
      <td>{{ s.firstName }}</td>
      <td>{{ s.lastName }}</td>
      <td>{{ s.phone }}</td>
      <td>{{ s.date }}</td>
      <td>{{ s.serviceType }}</td>
    </tr>
  </tbody>
</table>
First Name
<input [(ngModel)]="appointment.firstName" type="text" name="firstName" />
Last Name
<input [(ngModel)]="appointment.lastName" type="text" name="lastName" />
Phone
<input [(ngModel)]="appointment.phone" type="text" name="phone" />
Date
<input [(ngModel)]="appointment.date" type="date" name="date" />
Service Type
<input [(ngModel)]="appointment.serviceType" type="text" name="serviceType" />
<button (click)="save()">Save</button>
