<!-- credit to celebritybucks.com for celebrity birthday info via their API -->

<link
  href="https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap"
  rel="stylesheet"
/>
<h1 class="mat-headline" style="text-align: center;">
  Today's Celebrity Birthdays
</h1>
<div class="container">
  <div class="row">
    <div class="col-md-8 mx-auto my-3" *ngFor="let article of articles">
      <div *ngIf="article.price > 0">
        <mat-card class="birthday-card">
          <h2>{{ article.name }}</h2>
          <img
            src="https://celebritybucks.com/images/celebs/full/{{
              article.celebId
            }}.jpg"
          />
        </mat-card>
      </div>
    </div>
  </div>
</div>
