.birthday-card {
  width: 45%;
  display: inline-block;
}

.mat-card-cvr {
  width: 100%;
  text-align: center;
}
.mat-headline {
  /* color: #c2185b; */
  color: whitesmoke;
  font-family: "Indie Flower", cursive;
  font-size: 40px;
}
