<!-- credit to celebritybucks.com for celebrity birthday info via their API -->
<mat-card class="birthday-card">
  <mat-card-header>
    <mat-card-title>Today's Celebrity Birthdays</mat-card-title>
  </mat-card-header>
  <ul>
    <div *ngFor="let article of articles">
      <div *ngIf="article.price > 0">
        <h2>{{ article.name }}</h2>
        <img
          src="https://celebritybucks.com/images/celebs/full/{{
            article.celebId
          }}.jpg"
        />
        <br />
        <br />
        <br />
      </div>
    </div>
  </ul>
</mat-card>
